<p id="notice"><%= notice %></p>

<p>
  <strong>Payment method:</strong>
  <%= @payment.payment_method %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
